

.explorer {
    text-align: center;
    & h2 {
        margin-top: 16px;
        font-size: 16px;
    }
    & button {
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        color: white;
        font-weight: 100;
        font-size: 24px;
        padding: 16px 32px;
        border: none;
        border-radius: 16px;
        
    }
    & button:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
    
}